#root {
    position: absolute;
    width: 480px;
    height: 550px;
    right: 300px;
    top: 150px;
    z-index: 1;
    background: #F24405;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    
    transition: all .5s;
}

#root h1{
    position: absolute;
    left: 140px;
    top: 250px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    
}

#root:hover{
    background-color: #F21905;
    transition: all .5s;
}